nav {
    Background-color:lightYellow;
    Flex-grow: 5;
}

nav ul {
    display: flex;
    justify-content:space-around;
    List-style-type: none;
}
/*nav ul is making the line straight */
.logo {
    flex-grow: 1;
}
.profile {
    flex-grow: 1;
}
Nav ul li a{
    text-decoration: none;
} 